In [1]:
from dataclasses import dataclass
import pandas as pd

In [2]:
@dataclass
class TagData:
    tagname: str
    value: float
    timestamp: int
    status_code: int

In [3]:
data_from_kafka = {
    "script_name1": {
        "tagname11": {
            "timestamp": 172352323,
            "value": 11.111,
            "status_code": 192,
        },
        "tagname12": {
            "timestamp": 172352323,
            "value": 22.222,
            "status_code": 192,
        },
        "tagname13": {
            "timestamp": 172352323,
            "value": 33.333,
            "status_code": 192,
        },
        "tagname14": {
            "timestamp": 172352323,
            "value": 44.444,
            "status_code": 192,
        },
    },
    "script_name2": {
        "tagname21": {
            "timestamp": 172352323,
            "value": 11.111,
            "status_code": 192,
        },
        "tagname22": {
            "timestamp": 172352323,
            "value": 22.222,
            "status_code": 192,
        },
        "tagname23": {
            "timestamp": 172352323,
            "value": 33.333,
            "status_code": 192,
        },
        "tagname24": {
            "timestamp": 172352323,
            "value": 44.444,
            "status_code": 192,
        },
    },
    "script_name3": {
        "tagname31": {
            "timestamp": 172352323,
            "value": 11.111,
            "status_code": 192,
        },
        "tagname32": {
            "timestamp": 172352323,
            "value": 22.222,
            "status_code": 192,
        },
        "tagname33": {
            "timestamp": 172352323,
            "value": 33.333,
            "status_code": 192,
        },
        "tagname34": {
            "timestamp": 172352323,
            "value": 44.444,
            "status_code": 192,
        },
    }
}

In [4]:
script_data_dict = {}
for script_name, script_data in data_from_kafka.items():
    script_data_dict[script_name] = {}
    for tagname, tag_data in script_data.items():
        script_data_dict[script_name][tagname] = TagData(**tag_data, tagname=tagname)

In [60]:
script_data_dict["script_name1"]["tagname11"]

TagData(tagname='tagname11', value=11.111, timestamp=172352323, status_code=192)

In [14]:
tagdata()

10.0

In [15]:
d = {"tagA": tagdata}

In [19]:
d["tagA"].value

10.0

In [5]:
import pandas as pd
import re

data = {'Line': {0: 1, 1: 3, 2: 4, 3: 5, 4: 6, 5: 7, 6: 8, 7: 10, 8: 11, 9: 12, 10: 13, 11: 16, 12: 18, 13: 19, 14: 20, 15: 21}, 'Code': {0: 'import random', 1: 'result = []', 2: 'v1 = Value["2235-RCT112CC"].value', 3: 'v2 = Value["2235-RCT112CD"].value', 4: 'v3 = Value["2235-RCT112CJ"].value', 5: 'v4 = Value["2235-RCT112CK"].value', 6: 'values = np.array([v1,v2,v3,v4])', 7: 'sum_ab = np.sum(values[:2])  # a + b', 8: 'sin_c = np.sin(values[2])    # sin(c)', 9: 'log_d = np.log(values[3])    # log(d)', 10: 'prod_abcd = np.prod(values)  # a * b * c * d', 11: '_result = (sum_ab * sin_c) / log_d + np.sqrt(prod_abcd)', 12: 'result.append(sum_ab)', 13: 'result.append(sum_ab + random.uniform(-5,5))', 14: "self.result_output['2235-CALC1_1'] = result[0]", 15: "self.result_output['2235-CALC1_2'] = result[1]"}, 'Variables': {0: '', 1: '', 2: 'result: []', 3: 'result: [], v1: 295.6069', 4: 'result: [], v1: 295.6069, v2: 295.4841', 5: 'result: [], v1: 295.6069, v2: 295.4841, v3: 295.9762', 6: 'result: [], v1: 295.6069, v2: 295.4841, v3: 295.9762, v4: 296.0695', 7: 'result: [], v1: 295.6069, v2: 295.4841, v3: 295.9762, v4: 296.0695, values: [295.6069 295.4841 295.9762 296.0695]', 8: 'result: [], v1: 295.6069, v2: 295.4841, v3: 295.9762, v4: 296.0695, values: [295.6069 295.4841 295.9762 296.0695], sum_ab: 591.091', 9: 'result: [], v1: 295.6069, v2: 295.4841, v3: 295.9762, v4: 296.0695, values: [295.6069 295.4841 295.9762 296.0695], sum_ab: 591.091, sin_c: 0.6182313955073683', 10: 'result: [], v1: 295.6069, v2: 295.4841, v3: 295.9762, v4: 296.0695, values: [295.6069 295.4841 295.9762 296.0695], sum_ab: 591.091, sin_c: 0.6182313955073683, log_d: 5.690594224060786', 11: 'result: [], v1: 295.6069, v2: 295.4841, v3: 295.9762, v4: 296.0695, values: [295.6069 295.4841 295.9762 296.0695], sum_ab: 591.091, sin_c: 0.6182313955073683, log_d: 5.690594224060786, prod_abcd: 7654188330.861286', 12: 'result: [], v1: 295.6069, v2: 295.4841, v3: 295.9762, v4: 296.0695, values: [295.6069 295.4841 295.9762 296.0695], sum_ab: 591.091, sin_c: 0.6182313955073683, log_d: 5.690594224060786, prod_abcd: 7654188330.861286, _result: 87552.43491071761', 13: 'result: [np.float64(591.091)], v1: 295.6069, v2: 295.4841, v3: 295.9762, v4: 296.0695, values: [295.6069 295.4841 295.9762 296.0695], sum_ab: 591.091, sin_c: 0.6182313955073683, log_d: 5.690594224060786, prod_abcd: 7654188330.861286, _result: 87552.43491071761', 14: 'result: [np.float64(591.091), np.float64(591.5707118401846)], v1: 295.6069, v2: 295.4841, v3: 295.9762, v4: 296.0695, values: [295.6069 295.4841 295.9762 296.0695], sum_ab: 591.091, sin_c: 0.6182313955073683, log_d: 5.690594224060786, prod_abcd: 7654188330.861286, _result: 87552.43491071761', 15: 'result: [np.float64(591.091), np.float64(591.5707118401846)], v1: 295.6069, v2: 295.4841, v3: 295.9762, v4: 296.0695, values: [295.6069 295.4841 295.9762 296.0695], sum_ab: 591.091, sin_c: 0.6182313955073683, log_d: 5.690594224060786, prod_abcd: 7654188330.861286, _result: 87552.43491071761'}, 'Result': {0: '', 1: 'result: []', 2: 'v1: 295.6069', 3: 'v2: 295.4841', 4: 'v3: 295.9762', 5: 'v4: 296.0695', 6: 'values: [295.6069 295.4841 295.9762 296.0695]', 7: 'sum_ab: 591.091', 8: 'sin_c: 0.6182313955073683', 9: 'log_d: 5.690594224060786', 10: 'prod_abcd: 7654188330.861286', 11: '_result: 87552.43491071761', 12: '', 13: '', 14: '', 15: ''}}

In [30]:
extract_expression_name("result_output['2235-COLDLEGSUM_1'] = result[0]")

'result_output'

In [34]:
def extract_expression_name(code_line):
    # 변수 할당 패턴 (일반 변수 할당)
    var_pattern = re.compile(r'(\w+)\s*=\s*(.+)')  
    # 메서드 호출 패턴 (점 기준으로 좌측 변수 추출)
    method_pattern = re.compile(r'(\w+)\.(\w+)\(')  
    # 딕셔너리 할당 패턴 (self를 포함한 경우)
    dict_pattern = re.compile(r"((self\.\w+)|(\w+))\['[^']+'\]\s*=\s*(.+)")

    # 일반 변수 할당
    var_match = var_pattern.match(code_line.strip())
    if var_match:
        return var_match.group(1)  # 변수 이름 반환

    # 메서드 호출
    method_match = method_pattern.search(code_line.strip())
    if method_match:
        return method_match.group(1)  # 좌측 변수만 반환

    # 딕셔너리 할당
    dict_match = dict_pattern.match(code_line.strip())
    if dict_match:
        return dict_match.group(1)  # 좌측 변수 반환

    return None

def extract_variable_value(variables_str, expression_name):
    # 메서드 호출인지 변수인지 구분
    try:
        if "(" in expression_name and "." in expression_name:
            # 메서드 호출일 경우
            var_name = expression_name.split("(")[1][:-1]  # 메서드 호출의 인자 부분을 추출
            pattern = re.compile(r"(\w+): ([^,]+)")  # 변수명과 일치하는 패턴을 동적으로 생성
            matches = pattern.findall(variables_str)
            # 변수명이 일치하는 값을 반환
            for name, value in matches:
                if name == var_name:
                    return value
        else:
            # 일반 변수 또는 self.가 포함된 경우
            pattern = re.compile(rf"{expression_name}: ([^,]+)")
            match = pattern.search(variables_str)
            if match:
                return match.group(1)

    except Exception as e:
        logger.error(e)
        print(expression_name)

    return None

In [35]:
df = pd.DataFrame(data)
df['Result'] = ''

In [36]:

# 데이터프레임을 순회하며 Result 컬럼 업데이트
for i in range(1, len(df)):
    expression_name = extract_expression_name(df.at[i, 'Code'])
    if expression_name:
        next_variables = df.at[i+1, 'Variables'] if i+1 < len(df) else ''
        variable_value = extract_variable_value(next_variables, expression_name)
        if variable_value:
            df.at[i, 'Result'] = f'{expression_name}: {variable_value}'

df

,Line,Code,Variables,Result
0,1,import random,,
1,3,result = [],,result: []
2,4,"v1 = Value[""2235-RCT112CC""].value",result: [],v1: 295.6069
3,5,"v2 = Value[""2235-RCT112CD""].value","result: [], v1: 295.6069",v2: 295.4841
4,6,"v3 = Value[""2235-RCT112CJ""].value","result: [], v1: 295.6069, v2: 295.4841",v3: 295.9762
5,7,"v4 = Value[""2235-RCT112CK""].value","result: [], v1: 295.6069, v2: 295.4841, v3: 29...",v4: 296.0695
6,8,"values = np.array([v1,v2,v3,v4])","result: [], v1: 295.6069, v2: 295.4841, v3: 29...",values: [295.6069 295.4841 295.9762 296.0695]
7,10,sum_ab = np.sum(values[:2]) # a + b,"result: [], v1: 295.6069, v2: 295.4841, v3: 29...",sum_ab: 591.091
8,11,sin_c = np.sin(values[2]) # sin(c),"result: [], v1: 295.6069, v2: 295.4841, v3: 29...",sin_c: 0.6182313955073683
9,12,log_d = np.log(values[3]) # log(d),"result: [], v1: 295.6069, v2: 295.4841, v3: 29...",log_d: 5.690594224060786
10,13,prod_abcd = np.prod(values) # a * b * c * d,"result: [], v1: 295.6069, v2: 295.4841, v3: 29...",prod_abcd: 7654188330.861286
11,16,_result = (sum_ab * sin_c) / log_d + np.sqrt(p...,"result: [], v1: 295.6069, v2: 295.4841, v3: 29...",_result: 87552.43491071761
12,18,result.append(sum_ab),"result: [], v1: 295.6069, v2: 295.4841, v3: 29...",result: [np.float64(591.091)]
13,19,"result.append(sum_ab + random.uniform(-5,5))","result: [np.float64(591.091)], v1: 295.6069, v...",result: [np.float64(591.091)
14,20,self.result_output['2235-CALC1_1'] = result[0],"result: [np.float64(591.091), np.float64(591.5...",
15,21,self.result_output['2235-CALC1_2'] = result[1],"result: [np.float64(591.091), np.float64(591.5...",

In [39]:
print(df.Variables[14])

result: [np.float64(591.091), np.float64(591.5707118401846)], v1: 295.6069, v2: 295.4841, v3: 295.9762, v4: 296.0695, values: [295.6069 295.4841 295.9762 296.0695], sum_ab: 591.091, sin_c: 0.6182313955073683, log_d: 5.690594224060786, prod_abcd: 7654188330.861286, _result: 87552.43491071761

In [93]:
variable_str = 'result: [np.float64(591.091), np.float64(591.5707118401846)], v1: 295.6069, v2: 295.4841, v3: 295.9762, v4: 296.0695, values: [295.6069 295.4841 295.9762 296.0695], sum_ab: 591.091, sin_c: 0.6182313955073683, log_d: 5.690594224060786, prod_abcd: 7654188330.861286, _result: 87552.43491071761'

In [97]:
variable_str_list

[' v1',
 ' 295.5858, v2',
 ' 295.3867, v3',
 ' 295.9419, v4',
 ' 296.0406, result',
 ' [np.float64(1182.9550000000002), np.float64(11182.955)]']

In [100]:
variable_str = 'result: [np.float64(591.091), np.float64(591.5707118401846)], v1: 295.6069, v2: 295.4841, v3: 295.9762, v4: 296.0695, values: [295.6069 295.4841 295.9762 296.0695], sum_ab: 591.091, sin_c: 0.6182313955073683, log_d: 5.690594224060786, prod_abcd: 7654188330.861286, _result: 87552.43491071761'
# variable_str = "self.result_output: v1: 295.5858, v2: 295.3867, v3: 295.9419, v4: 296.0406, result: [np.float64(1182.9550000000002), np.float64(11182.955)]"
d = {}
variable_str_list = variable_str.split(":")
key = variable_str_list.pop(0).strip()

for i, s in enumerate(variable_str_list):
    if i == len(variable_str_list) - 1:
        d[key] = s.strip()
    else:
        s_idx = s.rfind(",")
        d[key] = s[:s_idx].strip()
        key = s[s_idx + 1:].strip()

d

{'result': '[np.float64(591.091), np.float64(591.5707118401846)]',
 'v1': '295.6069',
 'v2': '295.4841',
 'v3': '295.9762',
 'v4': '296.0695',
 'values': '[295.6069 295.4841 295.9762 296.0695]',
 'sum_ab': '591.091',
 'sin_c': '0.6182313955073683',
 'log_d': '5.690594224060786',
 'prod_abcd': '7654188330.861286',
 '_result': '87552.43491071761'}

In [46]:
import re

def split_last_comma(s):
    # 문자열을 뒤집는다
    reversed_s = s[::-1]
    # 첫 번째 쉼표를 찾는다
    split_point = reversed_s.find(',')
    
    if split_point == -1:
        # 쉼표가 없으면 원본 문자열을 반환
        return s, None
    
    # 두 부분으로 분리하고 다시 뒤집는다
    part1 = reversed_s[split_point + 1:][::-1].strip()
    part2 = reversed_s[:split_point][::-1].strip()
    
    return part1, part2

ValueError: not enough values to unpack (expected 2, got 1)

In [1]:
def extract_variable_value(variables_str, expression_name):
    variables_dict = {}
    variables_str_list = variables_str.split(":")
    key = variables_str_list.pop(0).strip()
    cnt = len(variables_str_list)

    for i, s in enumerate(variables_str_list):
        if i == cnt - 1:
            variables_dict[key] = s.strip()
            break
        s_idx = s.rfind(",")
        variables_dict[key] = s[:s_idx].strip()
        key = s[s_idx + 1 :].strip()

    try:
        return variables_dict[expression_name]
    except KeyError:
        return None

In [12]:
import re

def extract_expression_name(code_line):
    # 변수 할당 패턴 (일반 변수 할당 및 self. 변수 할당)
    var_pattern = re.compile(r"((self\.)?\w+)\s*=\s*(.+)")
    # 메서드 호출 패턴 (점 기준으로 좌측 변수 추출)
    method_pattern = re.compile(r"((self\.)?\w+)\.\w+\(")
    # 딕셔너리 할당 패턴 (self를 포함한 경우)
    dict_pattern = re.compile(r"((self\.\w+)|(\w+))\['[^']+'\]\s*=\s*(.+)")

    # 일반 변수 할당
    var_match = var_pattern.match(code_line.strip())
    if var_match:
        return var_match.group(1)  # 변수 이름 반환

    # 메서드 호출
    method_match = method_pattern.search(code_line.strip())
    if method_match:
        return method_match.group(1)  # 좌측 변수만 반환

    # 딕셔너리 할당
    dict_match = dict_pattern.match(code_line.strip())
    if dict_match:
        return dict_match.group(1)  # 좌측 변수 반환

    return None

In [13]:
extract_expression_name('self.lpf_value = (self.tau * self.lpf_value + self.interval * value) / (self.interval + self.tau)')

'self.lpf_value'

In [2]:
variables_str = "result: [np.float64(591.0028), np.float64(590.2324314571032)], v1: 295.6194, v2: 295.3834, v3: 295.9574, v4: 296.0339, values: [295.6194, 295.3834, 295.9574, 296.0339], sum_ab: 591.0028, sin_c: 0.6033462877596064, log_d: 5.690473974793369, prod_abcd: 7650497302.378434, _result: 87529.78376846842, self.result_output: {'2235-CALC1_1': np.float64(591.0028), '2235-CALC1_2': np.float64(590.2324314571032)}"

expression_name = 'self.result_output'
value = extract_variable_value(variables_str, expression_name)
print(value)  # 출력: "{'2235-CALC1_1': np.float64(591.0028), '2235-CALC1_2': np.float64(590.2324314571032)}"

{'result': 591.0028, 'v1': 295.6194, 'v2': 295.3834, 'v3': 295.9574, 'v4': 296.0339, 'values': '[295.6194', 'sum_ab': 591.0028, 'sin_c': 0.6033462877596064, 'log_d': 5.690473974793369, 'prod_abcd': 7650497302.378434, '_result': 87529.78376846842, 'self.result_output': 591.0028, "'2235-CALC1_2'": 590.2324314571032}
{'2235-CALC1_1