In [1]:
import pandas as pd

In [7]:
a = pd.read_csv(r'D:\jhpark\가온\프로젝트\1.유솔\3.데이터\use_test/test_imsil.csv').iloc[:,:5]

In [8]:
a

      0         1         2         3         4
0   0.0  3.352941  3.352941  6.705882  6.705882
1   0.0  0.000000  0.000000  0.000000  0.000000
2   0.0  3.941176  3.941176  3.941176  3.941176
3   0.0  7.780392  9.725490  7.780392  9.725490
4   0.0  3.862745  3.862745  3.862745  4.635294
..  ...       ...       ...       ...       ...
57  0.0  3.847059  2.564706  3.847059  3.847059
58  0.0  3.352941  3.352941  4.470588  4.470588
59  0.0  3.984314  4.980392  3.984314  4.980392
60  0.0  2.886275  2.886275  2.886275  2.886275
61  0.0  3.960784  3.960784  3.960784  4.752941

[62 rows x 5 columns]

In [9]:
a[:len(a)]

      0         1         2         3         4
0   0.0  3.352941  3.352941  6.705882  6.705882
1   0.0  0.000000  0.000000  0.000000  0.000000
2   0.0  3.941176  3.941176  3.941176  3.941176
3   0.0  7.780392  9.725490  7.780392  9.725490
4   0.0  3.862745  3.862745  3.862745  4.635294
..  ...       ...       ...       ...       ...
57  0.0  3.847059  2.564706  3.847059  3.847059
58  0.0  3.352941  3.352941  4.470588  4.470588
59  0.0  3.984314  4.980392  3.984314  4.980392
60  0.0  2.886275  2.886275  2.886275  2.886275
61  0.0  3.960784  3.960784  3.960784  4.752941

[62 rows x 5 columns]

In [ ]:
        # 예측값 업데이트
        self.forecast[:] = np.nan  # 이전 예측값 초기화
        self.forecast[:len(forecast)] = forecast  # 새 예측값 할당